.ActionControl {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: 580px) {
    flex-direction: row;
    gap: 24px;
  }
}

.SelectButtonContainer {
  display: flex;
  justify-content: space-between;
  max-width: 120px;
  width: 100%;
}

.ButtonContainer {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
}

@media screen and (max-width: 450px) {
  .ButtonContainer {
    height: 24px;
    width: 24px;
  }
}

@media screen and (min-width: 450px) {
  .ButtonContainer {
    height: 32px;
    width: 32px;
  }
}

.Button {
  border-radius: 100%;
  cursor: pointer;
  transition: transform 120ms;
  overflow: hidden;
  position: absolute;
  inset: 1px;
}

.Button:not(.Selected) {
  background-color: #dddddd33;
}

.Button.Selected {
  background: linear-gradient(to bottom, #a7d7efee 0%, #39ace7ee 100%);
}

.Button.Selected,
.Button:hover {
  transform: scale(1.2);
}

.Fill,
.Erase {
  margin: 6px;
  height: calc(100% - 12px);
  width: calc(100% - 12px);
}

.Move {
  margin: 1px;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
}

.Fill {
  background-color: whitesmoke;
}

.Erase {
  background-color: #101213ff;
}

.ClearButton {
  background: linear-gradient(to bottom, #a7d7efee 0%, #39ace7ee 100%);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-left: -4px;
  padding: 8px 4px;
  text-align: center;
  transition: transform 120ms;
  width: 80px;
}

.ClearButton:hover {
  transform: scale(1.1);
}