.GameOfLife {
  position: relative;
}

.Stats {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255);
  pointer-events: none;
  padding: 8px;
  position: absolute;
  left: 8px;
  top: 8px;
}

.Frame {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}

.Times {
  font-size: 14px;
}

.Control {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr minmax(180px, 1fr) 1fr;
  margin-top: 14px;
}

.FrameButtonContainer {
  text-align: center;
}

.FrameButton {
  background: none;
  border: none;
  color: #a7d7ef;
  padding: 0;
  transition: transform 120ms;
  width: 60px;
  height: 60px;
}

.FrameButton:not(:disabled) {
  cursor: pointer;
}

.FrameButton:hover:not(:disabled) {
  transform: scale(1.08);
}

.FrameButton:disabled {
  color: #909090;
}
