.GameOfLife {
  position: relative;
}

.Frame {
  position: absolute;
  left: 8px;
  top: 8px;
}

.Control {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 14px;
}

.FrameButtonContainer {
  text-align: center;
}

.FrameButton {
  background: none;
  border: none;
  color: #39ace7;
  padding: 0;
  transition: transform 120ms;
  width: 60px;
  height: 60px;
}

.FrameButton:not(:disabled) {
  cursor: pointer;
}

.FrameButton:hover:not(:disabled) {
  transform: scale(1.08);
}

.FrameButton:disabled {
  color: #909090;
}
