.App {
    padding: 18px;
}

.Header {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

.Title {
    display: inline-block;
}

.Blog {
    border-radius: 4px;
    color: whitesmoke;
    padding: 4px;

    transition: background-color 120ms;
}

.Blog:hover {
    background-color: #4f535c;
}
